{{define "main"}}
	<main>
		<form class="stack" method="post">
			<input
				type="text"
				name="name"
				id="name"
				class="input"
				placeholder="List Name" required
			/>
			<button class="input" type="submit">New List</button>
		</form>
	</main>
{{end}}
