{{define "main"}}
	<main>
		<form class="stack" method="post">
			<textarea class="input" name="data" rows=12>{{ .Body }}</textarea>
			<button class="input" type="submit">Update {{ .Name }}</button>
		</form>
	</main>
{{end}}
