{{define "main"}}
	<main>
		<form class="stack" method="post">
			<div class="grow-wrap">
				<textarea
					name="data"
					id="text"
					autocomplete="off"
					rows=12>{{ .Body }}</textarea>
			</div>
			<button class="input" type="submit">Update {{ .Name }}</button>
		</form>
	</main>
{{end}}
