{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lists">
	<title>[ nilsu ~/lists ]</title>
	<style nonce="{{.CSPNonce}}">
	:root {
		--ratio: 1.5;
		--s-2: calc(var(--s-1) / var(--ratio));
		--s-1: calc(var(--s0) / var(--ratio));
		--s0: 1rem;
		--s1: calc(var(--s0) * var(--ratio));
		--s2: calc(var(--s1) * var(--ratio));
		font-size: calc(.333vw + 1em);
	}
	*,
	:after,
	:before {
		box-sizing: border-box;
		font-family: inherit;
		color: inherit;
		background-color: inherit;
		overflow-wrap: break-word;
		margin: 0;
		padding: 0;
		border: 0 solid
	}
	body {
		box-sizing: content-box;
		max-inline-size: 40ch;
		margin-inline: auto;
		padding: var(--s1);
		font-family: system-ui, sans-serif;
	}

	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.stack > * {
		margin-block: 0;
	}
	.stack > * + * {
		margin-block-start: var(--space, 1.5rem);
	}

	.input {
		font-size: var(--s1);
		background-clip:padding-box;
		border:1px solid;
		padding: var(--s-2);
	}

	.grow-wrap {
		display: grid;
	}
	.grow-wrap::after {
		/* Note the weird space! Needed to preventy jumpy behavior */
		content: attr(data-replicated-value) " ";

		/* This is how textarea text behaves */
		white-space: pre-wrap;

		/* Hidden from view, clicks, and screen readers */
		visibility: hidden;
	}
	.grow-wrap > textarea {
		resize: none;
		overflow: hidden;
	}
	.grow-wrap > textarea,
	.grow-wrap::after {
		font-size: var(--s0);
		background-clip:padding-box;
		border:1px solid;
		padding: var(--s-2);
		grid-area: 1 / 1 / 2 / 2;
	}
	</style>
</head>
<body>
	{{template "main" .}}
</body>
<script nonce="{{.CSPNonce}}">
const growers = document.querySelectorAll(".grow-wrap");

growers.forEach((grower) => {
	const textarea = grower.querySelector("textarea");
	grower.dataset.replicatedValue = textarea.value;
	textarea.addEventListener("input", () => {
		grower.dataset.replicatedValue = textarea.value;
	});
});
</script>
</html>
{{end}}
